.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding-left: 80px;
}
.cart-container{
    padding-right: 0;
}